<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    creating beans-->
    <bean id="beanlifecycle" class="com.stackroute.spring.BeanLifeCycleDemo" init-method="init" destroy-method="customDestroy">

    </bean>

    <bean id="custombeanpostprocessor" class="com.stackroute.spring.CustomBeanPostProcessor">

    </bean>

</beans>

