<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    creating bean objects-->

    <bean id="actor" class="com.stackroute.spring.Actor">


        <property name="name" value="akhila"></property>
        <!--        setter injection-->
        <property name="gender" value="female"></property>
        <property name="age" value="22"></property>
    </bean>

            <bean id="movie" class="com.stackroute.spring.Movie">
                <property name="actor" ref="actor"> </property>

            </bean>






</beans>

